/* styles.css */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.App {
  text-align: center;
  padding: 2rem;
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  color: #333;
}

input[type="number"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

label {
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.convert-button {
  background-color: #4caf50;
  color: white;
}

.swap-button {
  background-color: #f44336;
  color: white;
  margin-left: 10px;
}

.temperature {
  font-size: 24px;
  margin-top: 20px;
}

.error {
  color: red;
}

/* Gradient background */
:root {
  --gradient-bg: linear-gradient(to bottom, #007bff, transparent) 0%,
    linear-gradient(to bottom, #00cfff, transparent) 10%,
    linear-gradient(to bottom, #4bff00, transparent) 20%,
    linear-gradient(to bottom, #ffc700, transparent) 30%,
    linear-gradient(to bottom, #ff5733, transparent) 40%,
    linear-gradient(to bottom, #ff1700, transparent) 50%;
  --base-bg-color: #007bff;
}

body {
  background: var(--gradient-bg), var(--base-bg-color);
  background-blend-mode: color, normal;
  transition: background 0.5s ease;
  background-repeat: none;
}

.convertButton{
  padding-top: 10px;
}
